<% include partials/header %>

<p>
    <%= campground.name %>
</p>

<img src="<%= campground.image %>">

<p>
    <%= campground.description %>
</p>

<div class="form-group">
    <a class="btn btn-lg btn-default btn-block btn-primary" href="/campgrounds">Back</a>
</div>

<% include partials/footer %>